<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <div class="bodyBox">
        <div class="topHalf">
            <h1>All the Users</h1>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                </tr>
                {% for user in all_users %}
                    <tr>
                        <td>{{user.first_name}}</td>
                        <td>{{user.last_name}}</td>
                        <td>{{user.email_address}}</td>
                        <td>{{user.age}}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>

        <div class="bottomBox">
            <h1>Add a User</h1>
            <form action="/process" method="POST">
                {% csrf_token %}
                <div id="formContent">
                    <div class="formBoxLeft">
                        <div class="firstNameBox">
                            <!-- <p>First Name</p> -->
                            <input type="text" name="firstName" id="name" placeholder="First Name Here" required>
                        </div>
                        <div class="emailBox">
                            <!-- <p>Email</p> -->
                            <input type="email" name="email" id="name" placeholder="example@email.com" required>
                        </div>
                    </div>
                    <div class="formBoxRight">
                        <div class="lastNameBox">
                            <!-- <p>Last Name</p> -->
                            <input type="text" name="lastName" id="name" placeholder="Last Name Here" required>
                        </div>
                        <div class="ageBox">
                            <!-- <p>Age</p> -->
                            <input type="number" name="age" id="name" placeholder="Ex. 20" required>
                        </div>
                    </div>
                </div>
                <div class="buttonBox">
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>